
	<section class="body container">
		<div class="row">
			<div class="col-md-4 col-md-offset-3">
				<div class="form-group">
					<input type="search" class="search-bar" ng-model="searchBarFilter">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<select name="categories" id="categories" class="category-filter">
						<option value="">All categories</option>
						<option value="{{ category.categori_id }}" ng-repeat="category in categories[0]">{{ category.name }}</option>
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<a ui-sref="my-cart" class="my-cart">
						my cart
						<span class="counter">{{ myCart.length }}</span>
					</a>
				</div>
			</div>
		</div> <!-- END .row -->
		<div class="row top-separator">
			<!-- Products list -->
			<ul class="list-unstyled products-list">
				<li class="col-sm-6 col-md-3 product" ng-repeat="product in products[0] | filter: { name: searchBarFilter}">
					<article>
						<img ng-src="{{ product.img }}" class="img-responsive" alt="">
						<div class="short-product-detail text-center">
							<p class="name">{{ product.name }}</p>
							<span class="price">{{ product.price }}</span>
						</div>
						<a href="javascript:void(0);" ng-click="addToCart(product)" class="add-to-cart text-center">add to cart</a>
					</article>
				</li>
			</ul> <!-- END .products-list -->
		</div> <!-- END .row -->
	</section> <!-- END .body -->