html,
body {
	font-family: "Roboto", sans-serif;
}
.top-separator {
	margin-top: 30px;
}
.no-results {
	position: relative;
	text-align: center;
	margin-top: 60px;
	font-size: 2em;
	color: #757575;
}
.no-results a {
	display: block;
	font-size: .9em;
	color: #6364d8;
}
/*=======
HEADER
=======*/
.header {
	position: relative;
	height: 180px;
	background-color: #f8cb00;
	padding-top: 30px;
}
.header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 5px;
	background-color: #6364D8;
}
.header .navbar-brand {
	color: #fff;
	font-size: 2em;
	font-weight: 500;
}
/*======
BODY
======*/
.body {
	position: relative;
	margin-top: -56px;
}
.body input[type="search"],
.body select {
	display: block;
	width: 100%;
	height: 45px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: .3em;
	-webkit-transition: border .3s ease;
	transition: border .3s ease;
}
.body input[type="search"]:focus,
.body select:focus {
	outline: none;
	border-color: #6364d8;
}
.body .search-bar {
	background-image: url("../images/search.svg");
	background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 37px;
}
.body .my-cart {
	position: relative;
	display: block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: .9em;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #6364d8;
	background-image: url("../images/shopping_cart.png");
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: 20px;
	padding-left: 39px;
	border-radius: .3em;
}
.body .my-cart .counter {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #393ab1;
	padding: 0 10px;
	border-radius: 0 .3em .3em 0;
}
/*=============
PRODUCTS LIST
=============*/
.products-list .product {
	margin-bottom: 30px;
}
.products-list .show-details:hover {
	text-decoration: none;
}
.products-list article {
	position: relative;
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	border: 1px solid #eee;
	box-shadow: 0 0 12px rgba(221, 221, 221, .6);
}
.products-list .show-details {
	display: block;
}
.products-list img {
	margin: 0 auto 30px auto;
}
.products-list .short-product-detail {
	position: relative;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	padding: 0 10px 20px 10px;
	-webkit-transition: -webkit-transform .3s ease;
	transition: -webkit-transform .3s ease;
	transition: transform .3s ease;
}
.products-list .name {
	color: #4d4d4d;
	font-size: 1.2em;
	font-weight: normal;
	margin-top: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.products-list .price {
	color: #f8cb00;
	font-size: 1.1em;
	font-weight: 500;
}
.products-list .add-to-cart {
	background-color: #6364d8;
}
.products-list .delete-from-cart {
	background-color: #f44336;
}
.products-list .not-available {
	background-color: #757575;
}
.products-list .add-to-cart,
.products-list .delete-from-cart,
.products-list .not-available {
	position: relative;
	display: block;
	color: #fff;
	width: 100%;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
}
/*=============
PRODUCT-DETAIL
=============*/
.product-detail .product-img {
	margin: 0 auto;
}
.product-detail .name {
	margin-top: 0;
	color: #4d4d4d;
}
.product-detail .price {
	color: #f8cb00;
	font-size: 1.1em;
	font-weight: 500;
}
.product-detail .add-to-cart {
	background-color: #6364d8;
}
.product-detail .not-available {
	background-color: #757575;
}
.product-detail .add-to-cart,
.product-detail .not-available {
	display: block;
	padding: 10px 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 10px;
}
.product-detail .description {
	margin-top: 20px;
}
/*=========
OVERLAY
=========*/
.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	opacity: 0;
	background-color: rgba(255, 255, 255, .7);
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
}
.overlay.active {
	z-index: 99;
	opacity: 1;
}
/*=======
DIALOG
=======*/
.dialog {
	padding: 1.2em;
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
	box-shadow: 0 0 9px #ddd;
}
.dialog .message {
	color: #616161;
}
.dialog .confirm {
	float: right;
	text-transform: uppercase;
	border: 0;
	background-color: transparent;
	color: #6364d8;
}
.dialog .confirm:hover {
	text-decoration: none;
}
/*=====
TOAST
=====*/
.toast {
	padding: .1em .7em;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	background: rgba(0, 0, 0, .5);
	border-radius: 1em;
	color: rgba(255, 255, 255, .8);
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
.toast.active {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate(-50%, -60px);
	transform: translate(-50%, -60px);
}
/*=============
MEDIA QUERIES
=============*/
@media screen and ( min-width: 992px ) {
	.products-list .add-to-cart,
	.products-list .delete-from-cart,
	.products-list .not-available {
		position: absolute;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		-webkit-transition: -webkit-transform .3s ease;
		transition: -webkit-transform .3s ease;
		transition: transform .3s ease;
	}
	.products-list article:hover .short-product-detail {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	.products-list article:hover .add-to-cart,
	.products-list article:hover .delete-from-cart,
	.products-list article:hover .not-available {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px);
	}
}
@media screen and ( max-width: 992px ) {
	.body .cart-wrapper {
		position: absolute;
		z-index: 98;
		top: -82px;
		right: 16px;
	}
	.body .my-cart {
		height: 45px;
		width: 45px;
		background-color: #6364d8;
		background-image: url("../images/shopping_cart.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20px;
		border-radius: 100%;
	}
	.body .counter {
		position: absolute;
		top: -3px;
		right: -5px;
		background-color: #393ab1;
		color: #fff;
		display: block;
		width: 20px;
		height: 20px;
		text-align: center;
		border-radius: 50%;
		font-weight: 500;
	}
	.products-list img {
		margin-bottom: 0;
	}
	.product-detail .top-separator {
		margin-top: 92px;
	}
	.product-detail .product-img {
		margin-bottom: 16px;
	}
}